In [17]:
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
import pandas as pd
import sklearn
import seaborn as sns
%matplotlib inline

In [6]:
data_df = pd.read_csv('/home/james/anaconda3/data/censusdata.csv',header=None)

Using the Census Income data set from UCI Machine learning repository.
https://archive.ics.uci.edu/ml/datasets/Adult

The data is a mix of various continuous and categorical features to be described in the above link and the goal is predict whether the adult makes over $50,000 annually.

In [10]:
data_df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
data_df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status',
                   'occupation', 'relationship', 'race','sex', 'capital_gain', 'capital_loss', 
                   'hours_per_week', 'native_country', 'label']

In [11]:
categorical_features = ['workclass', 'education', 'marital_status', 'occupation', 'relationship',
                       'race', 'sex', 'native_country', 'label']

In [12]:
data_df_dum = pd.get_dummies(data_df, columns = categorical_features, drop_first=1 )

Using the pandas' method get_dummies to do a 'one-hot-encoding' of the categorical features to use in the classification model.

In [92]:
data_df_dum.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,label_ >50K
0,39,77516,13,2174,0,40,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,50,83311,13,0,0,13,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,38,215646,9,0,0,40,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,53,234721,7,0,0,40,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,28,338409,13,0,0,40,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [34]:
X = data_df_dum.ix[:,:100].as_matrix()
Y = data_df_dum['label_ >50K'].as_matrix()

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.33, random_state=5 )

In [117]:
clf_1 = GradientBoostingClassifier(learning_rate=0.009, n_estimators=1200, subsample=0.95, verbose=1,
                                  max_depth=6)
clf_2 = RandomForestClassifier(n_estimators=500,verbose=1)

In [118]:
clf_1.fit(X_train, y_train)

      Iter       Train Loss      OOB Improve   Remaining Time
         1           1.0966           0.0077            3.39m
         2           1.0883           0.0079            3.42m
         3           1.0783           0.0077            3.36m
         4           1.0722           0.0074            3.37m
         5           1.0652           0.0077            3.34m
         6           1.0585           0.0073            3.35m
         7           1.0519           0.0064            3.32m
         8           1.0445           0.0065            3.32m
         9           1.0394           0.0061            3.31m
        10           1.0330           0.0058            3.31m
        20           0.9723           0.0046            3.27m
        30           0.9252           0.0039            3.23m
        40           0.8870           0.0035            3.21m
        50           0.8493           0.0032            3.18m
        60           0.8220           0.0026            3.15m
        70           0.7944           0.0026            3.12m
        80           0.7741           0.0020            3.09m
        90           0.7561           0.0018            3.06m
       100           0.7357           0.0016            3.04m
       200           0.6282           0.0007            2.79m
       300           0.5797           0.0002            2.50m
       400           0.5538           0.0002            2.18m
       500           0.5334           0.0001            1.88m
       600           0.5174           0.0001            1.58m
       700           0.5040           0.0000            1.30m
       800           0.4923          -0.0000            1.02m
       900           0.4838          -0.0001           45.49s
      1000           0.4747          -0.0000           29.95s

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.009, loss='deviance', max_depth=6,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=1200, presort='auto', random_state=None,
              subsample=0.95, verbose=1, warm_start=False)

In [119]:
print('The error rate on the hold out set is :', 
      round(100 - 100 * accuracy_score(y_test, clf_1.predict(X_test)),2), '%')

The error rate on the hold out set is : 12.58 %

In [83]:
clf_2.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    8.6s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=500, n_jobs=1, oob_score=False, random_state=None,
            verbose=1, warm_start=False)

In [84]:
print('The error rate on the hold out set is :', 
      round(100 - 100 * accuracy_score(y_test, clf_2.predict(X_test)),2), '%')

The error rate on the hold out set is : 14.41 %

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.8s finished

In [120]:
confusion_grad = pd.DataFrame(confusion_matrix(y_test, clf_1.predict(X_test)))
confusion_grad.columns = ['Predicted: Under 50K', 'Predicted: Over 50K']
confusion_grad.index = ['Actual: Under 50K', 'Actual: Over 50K']

In [121]:
confusion_grad

                   Predicted: Under 50K  Predicted: Over 50K
Actual: Under 50K                  7736                  421
Actual: Over 50K                    931                 1658

In [85]:
confusion_rf = pd.DataFrame(confusion_matrix(y_test, clf_2.predict(X_test)))
confusion_rf.columns = ['Predicted: Under 50K', 'Predicted: Over 50K']
confusion_rf.index = ['Actual: Under 50K', 'Actual: Over 50K']

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.8s finished

In [86]:
confusion_rf

                   Predicted: Under 50K  Predicted: Over 50K
Actual: Under 50K                  7596                  561
Actual: Over 50K                    988                 1601